<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <figure class="logo">
                    <img src="assets/img/logo.png" alt="">
                </figure>
            </div>

            <div class="col-xs-offset-6 col-xs-4">
                <nav>
                    <a routerLink="/" class="link-nav">Home</a>
                    <a routerLink="/" class="link-nav">Sobre</a>
                    <a routerLink="/" class="link-nav">Quem Somos</a>
                    <a routerLink="/admin" class="link-nav">Login</a>
                    <a routerLink="/" class="link-nav">Categoria</a>
                </nav>
            </div>
        </div>
    </div>
</header>
