<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a routerLink="/">
                    <figure class="logo">
                        <img src="assets/img/logo.png" alt="">
                    </figure>
                </a>
            </div>
            <div class="col-xs-offset-1 col-xs-3">
                <a href="" class="link-nav">Home</a>
                <a href="" class="link-nav">Sobre</a>
                <a href="" class="link-nav">Quem Somos</a>
                <a href="" class="link-nav">Categorias</a>
            </div>
        </div>
    </div>
</footer>
