<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-xs-5">
                <a routerLink="/">
                    <figure class="logo">
                        <img src="assets/img/logo.png" alt="">
                    </figure>
                </a>
            </div>
            <div class="col-xs-offset-1 col-xs-3">
                <a routerLink="" class="link-nav">Home</a>
                <a routerLink="/sobre" class="link-nav">Sobre</a>
                <a routerLink="/contato" class="link-nav">Contato</a>
                <a routerLink="/categorias" class="link-nav">Categorias</a>
            </div>
        </div>
    </div>
</footer>
