<section class="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 header" [style.backgroundImage]="'url('+ verificaImg(main?.img) +')'">
                <a routerLink="/post-detail/{{ main?.id }}" *ngIf="!flag">
                  <h1 class="title center" [innerHTML]="main?.titulo"></h1>
                </a>

                <h1 class="title center" [innerHTML]="main?.titulo" *ngIf="flag"></h1>
            </div>
        </div>
    </div>
</section>
