<main>
    <div class="container-fluid">
        <div class="row">
            <section class="admin-menu col-xs-2">
                <h1 class="title">Administração</h1>
                <nav>
                    <a href="#" class="link-nav">Posts</a>
                    <a href="#" class="link-nav">Usuário</a>
                </nav>
            </section>

            <section class="admin-content col-xs-10">
                <router-outlet></router-outlet>
            </section>

        </div>
    </div>
</main>