<main>
    <div class="container-fluid">
        <div class="row">
            <section class="menu-admin col-xs-2">
                <nav>
                    <a href="#">Posts</a>
                    <a href="#">Usuário</a>
                </nav>
            </section>

            <section class="menu-admin col-xs-10">
                <nav>
                    <a href="#">Posts</a>
                    <a href="#">Usuário</a>
                </nav>
            </section>

        </div>
    </div>
</main>
