<section class="post body">
    <div class="container">

        <div class="box-post">
            <a href="#">
                <div class="row">
                    <div class="col-xs-4">
                        <figure>
                            <img src="assets/img/default-post.png" alt="">
                        </figure>
                    </div>
                    <div class="col-xs-8">
                        <h1 class="title">
                            teste
                        </h1>
                        <p class="mark">Thiago</p>
                        <p class="content">
                            hello
                        </p>
                    </div>
                </div>      
            </a>              
        </div>

    </div>
</section>