<main>
    <div class="container-fluid">
        <div class="row">
            <section class="admin-menu col-xs-2">
                <h1 class="title">Administração</h1>
                <nav>
                  <a routerLink="/" class="link-nav">Ir para o Site</a>
                  <a routerLink="posts" class="link-nav">Posts</a>
                  <a href="#" class="link-nav">Páginas</a>
                  <a href="#" class="link-nav">Usuário</a>
                  <a href="#" class="link-nav">Sair</a>
                </nav>
            </section>

            <section class="admin-content col-xs-10">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</main>
