<section class="post body">
    <div class="container">

        <div class="box-post" *ngFor="let post of posts" >
            <a href="#">
                <div class="row">
                    <div class="col-xs-4">
                        <figure>
                            <img [src]="post?.img" alt="">
                        </figure>
                    </div>
                    <div class="col-xs-8">
                        <h1 class="title" [innerHTML]="post?.titulo"></h1>
                        <p class="mark" [innerHTML]="post?.autor"></p>
                        <p class="content" [innerHTML]="post?.texto"></p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</section>
