@import 'library.less';

// Default
.title {
    .setFont(21px, @black, 'Bold');
}

.link {
    .setFont(16px, @pink, 'Regular');
    text-decoration: none;

    &:hover {
        text-decoration: underline; color: @pink;
    }
}

.link-nav {
    .setFont(@size: 16px; @color: @white; @family: 'Condensed');

    &:hover, &:active, &:focus  {
        text-decoration: none; color: @shadowPink;
    }
}

.content {
    .setFont(16px, @black, 'Regular');
    line-height: 23px;
}

.mark {
    .setFont(12px, @lightGray, 'Light'); text-transform: uppercase;
}

button {
    width: 100%; display: block;
    background: @pink; color: @white;
    border-radius: 5px; padding: 10px 15px;
    border: none;

    &:hover {
        background: @shadowPink;
    }   
}

figure {
    img {
        width: 100%; display: block;
    }
}

.center {
    position: absolute; top: 50%;
    left: 50%; -webkit-transform: translate(0,-50%);
    transform: translate(-50%,-50%);
}

.group-input{
    margin-bottom: 15px;

    label {
        .setFont(18px, @pink, 'Condensed');
        display: block;
    }
    input {
        width: 100%; padding: 5px 10px;
        .setFont(14px, @black, 'Regular');
        outline: none;
    }
}

// Wrappers
header {
    background: @pink; padding: 15px 0;

    nav {
        padding: 10px 0;

        .link-nav {
            margin-right: 25px; 

            &:last-child {
                &:before {
                    content: "|"; display: inline-block;
                    height: 10px; width: 5px; color: @white;
                    margin-left: -10px; margin-right: 5px;
                }
            }
        }
    }
}

main {
    min-height: ~"calc(100vh - 170px)";
}

section {

    &.login, &.admin-menu, &.admin-content {
        height: 100vh; 
    }

    &.header {
        background: @gold; padding: 20px 20px;
        text-align: center; margin-bottom: 40px;

        h1 {
            text-transform: uppercase; color: #fff;
            font-size: 52px;
        }
    }

    &.post {
        .header {
            height: 490px; display: block; position: relative;
            box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6) !important;
            background-image: url('');
            background-position: center; background-repeat: no-repeat;
            background-size: cover;

            a {
                height: 490px; display: block; position: relative;
            }
    
            .title {
                font-size: 45px; color: @white; 
            }
        }    
    
        &.body {
            padding: 50px 0; min-height: 500px;        
        }
    }

    &.login {
        form {
            margin-bottom: 20px;
        }
    }

    &.admin-menu  {
        background: @pink; padding: 0;
        .setShadow(3px, 0px, 23px, -9px, rgba(0,0,0,0.75));

        .title{
            color: @white; background: @shadowPink; 
            padding: 20px 10px; margin-bottom: 5px;
            text-transform: uppercase;
        }

        .link-nav {
            display: block; margin-bottom: 5px;
            padding: 10px;

            &:hover {
                color: @white; background: @shadowPink;
                
            }
        }
    }

    &.admin-content {
        overflow: auto;
    }
}

footer {
    min-height: 160px; background: @shadowPink; 
    padding: 15px 0;

    .link-nav {
        display: block; margin-bottom: 10px;
        &:hover {
            color: @pink;
        }
    }
}

// Box
.box-post {
    width: 100%; border: 1px solid @gray;
    margin: 15px 0;

    &:hover {
        border: 1px solid @pink;
    }

    figure {
        img {
            height: 255px;
        }   
    }

    .title {
        margin-top: 10px;
    }

    .content {
        margin-top: 15px;
    }
}

.box-content {
    padding: 50px 40px;
}

.box-default {
    text-align: center;

    figure {
        padding: 20px 0;
        img {
            height: 250px; width: 250px;
            margin: 0 auto;
        }
    }

    .title {
        margin-bottom: 5px; font-size: 25px;
    }

    .content {
        width: 45%; margin: 0 auto
    }
}

.box-admin-posts {
    background: url('../img/header-admin-post.jpg') no-repeat;
    background-color: @gold; background-position: right; 
    width: ~"calc(110% -10%)"; height: 220px;  
    margin: 0 -15px; padding: 73px 20px;

    .title {
        text-transform: uppercase; color: @white;
        font-size: 52px;
    }
} 

