@import 'library.less';

// Default
.title {
    .setFont(21px, @black, 'Bold');
}

.link {
    .setFont(16px, @pink, 'Regular');
    text-decoration: underline;    
}

.link-nav {
    .setFont(@size: 16px; @color: @white; @family: 'Condensed');

    &:hover {
        text-decoration: none; color: @shadowPink;
    }
}

.content {
    .setFont(16px, @black, 'Regular');
    line-height: 23px;
}

.mark {
    .setFont(12px, @lightGray, 'Light'); text-transform: uppercase;
}

button {
    width: 100%; display: block;
    background: @pink; color: @white;
    border-radius: 5px; padding: 10px 15px;
    border: none;
}

figure {
    img {
        width: 100%; display: block;
    }
}

.center {
    position: absolute; top: 50%;
    left: 50%; -webkit-transform: translate(0,-50%);
    transform: translate(-50%,-50%);
}

.group-input{
    margin-bottom: 15px;

    label {
        .setFont(18px, @pink, 'Condensed');
        display: block;
    }
    input {
        width: 100%; padding: 5px 10px;
        .setFont(14px, @black, 'Regular');
    }
}

// Wrappers
header {
    background: @pink; padding: 15px 0;

    nav {
        padding: 10px 0;

        .link-nav {
            margin-right: 25px; 
        }
    }
}

section {

    &.post {
        &.header {
            height: 490px; 
            box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6) !important;
    
            a {
                height: 490px; display: block; position: relative;
    
                .title {
                    font-size: 45px; color: @white; 
                }
            }
        }    
    
        &.body {
            padding: 50px 0; min-height: 500px;        
        }
    }
    
    &.login {
        height: 100vh; 
    }
}


footer {
    min-height: 160px; background: @shadowPink; 
    padding: 15px 0;

    .link-nav {
        display: block; margin-bottom: 10px;
        &:hover {
            color: @pink;
        }
    }
}

// Box
.box-post {
    width: 100%; border: 1px solid @gray;
    margin: 15px 0;

    &:hover {
        border: 1px solid @pink;
    }

    figure {
        img {
            height: 255px;
        }   
    }

    .title {
        margin-top: 10px;
    }

    .content {
        margin-top: 15px;
    }
}

.box-post-content {
    padding: 50px 40px;
}

