<app-header></app-header>

<main>
    <app-post-header></app-post-header>

    <section>
        <div class="container">
            <div class="row">
                <div class="box-post-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Suspendisse congue mattis sem, eu vulputate massa eleifend sit amet. 
                        In varius congue tellus vulputate convallis. Integer in venenatis libero, 
                        vitae vulputate elit. Ut maximus nisi at dui elementum dignissim. Ut non neque in dui mattis vehicula. In placerat in risus eu iaculis. Suspendisse rutrum porttitor varius. Curabitur sodales placerat erat non tristique. Pellentesque fringilla eros eget felis sagittis iaculis. Duis aliquam elit vitae vestibulum tristique. In ultrices condimentum lacinia. Vestibulum sit amet dolor eu ligula elementum gravida.

                        Morbi a massa non nisi placerat interdum. Maecenas lorem risus, 
                        suscipit id malesuada ut, finibus et nisi. Ut id eros nisi. 
                        Maecenas a felis ac magna viverra dapibus. Nam sit amet quam a quam tincidunt sollicitudin vitae at dui. Cras enim leo, lacinia vitae faucibus sit amet, hendrerit quis erat. Donec placerat sapien quis purus tincidunt pellentesque. Fusce sapien neque, vehicula vel egestas rhoncus, posuere vel velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus laoreet ultrices nibh sit amet porttitor. Donec ut felis semper, rhoncus mi a, faucibus enim. Vivamus scelerisque erat sit amet condimentum porta. Vivamus sagittis euismod interdum. Sed sit amet hendrerit ex.
                        
                        Duis eget condimentum mi. Vestibulum ut ultricies leo, quis porta ipsum. Morbi ligula urna, cursus ac dui sed, viverra sagittis elit. Nunc iaculis aliquet lacus, sit amet eleifend ligula egestas quis. Nulla ullamcorper odio ut lorem ultricies, quis sollicitudin dui iaculis. Etiam quis tristique ante. Vestibulum ac neque mattis, ultricies tellus sit amet, aliquam quam. Nulla a ullamcorper eros. In mauris est, pulvinar sit amet enim nec, faucibus ultricies dui. Nunc odio tortor, euismod eu elementum quis, convallis non libero. Sed enim felis, bibendum id scelerisque in, finibus gravida ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec hendrerit tincidunt ipsum vel bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed convallis venenatis imperdiet. Sed fermentum interdum diam, ut pharetra quam vehicula ac. In fermentum sodales ante, a sagittis tortor dapibus ac. Maecenas lobortis, mi sit amet auctor tristique, ex felis consectetur mauris, quis semper metus odio sed turpis.
                        
                        In vestibulum egestas nibh ac euismod. Fusce bibendum egestas sem nec ornare. Sed tempor lacus vitae ante sodales, eu blandit tortor scelerisque. Donec fringilla pellentesque ornare. Praesent at hendrerit augue, eu sagittis neque. Suspendisse potenti. Nulla quis hendrerit dui. Praesent commodo dolor sed augue feugiat cursus. Nulla tempus, tellus at facilisis eleifend, leo orci tincidunt dui, condimentum sollicitudin sapien sem eu risus. Nunc faucibus nisi est, eu fermentum enim tincidunt at.
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>