<div class="box-admin-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">{{ titulo }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="box-editor">
    <div class="container">
        <form action="" [formGroup]="form" (ngSubmit)="salvar()">
            <div class="row">
                <div class="col-xs-9">
                    <div class="group-input">
                        <label for="titulo">Título</label>
                        <input type="text" id="titulo" formControlName="titulo">
                    </div>
                    <div class="group-input">
                        <label for="autor">Autor</label>
                        <input type="text" id="autor" formControlName="autor">
                    </div>     
                    <div class="group-input">
                        <label for="categoria">Categoria</label>
                        <select name="" id="categoria" formControlName="categoria_id">
                            <option value="1">Arquitetura</option>
                        </select>
                    </div>     
                    <div class="group-input">
                        <label for="img">Imagem</label>
                        <input type="file" name="" id="img" formControlName="img">
                    </div>     
                    <div class="group-input">
                        <label for="texto">Texto</label>
                        <ckeditor [editor]="Editor" id="texto" formControlName="texto"></ckeditor>  
                    </div>         
                </div>
                <div class="col-xs-4">
                    <button type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
